{{#partial "content"}}

    <link rel="stylesheet" href="/css/style.css">

    <div class="color">
        <ul class="nav nav-tabs">
            <li role="presentation" class="active"><a href="/">Home</a></li>
            <li role="presentation"><a href="/cars/new">Book parking</a></li>
    <!--        <li role="presentation"><a href="/squads/list">Add a Squad</a></li>-->
        </ul>



    <h2>Register</h2>
    <div class="form" id="cars">
        <h3>Book a space for your car</h3>


        <h1>Book parking</h1>

    <form action ="/" method="post" class="form-group">
        <label for="name">userName</label>
        <input type="text" id="name" name="name" class="form-control">
        <label for="age">Car type</label>
        <input type="text" id="age" name="age" class="form-control">
        <label for ="power">car-no-plate</label>
        <input type="text" id="power" name="power" class="form-control">
        <label for="weakness">Parking Area</label>
        <input type="text" id="weakness" name="weakness" class="form-control"><br>

    <button class="btn btn-danger" type="submit">Submit</button>

</form>








{{/partial}}

{{> layout.hbs}}



