{{#partial "content"}}

    <div class="color">
        <ul class="nav nav-tabs">
            <li role="presentation" class="active"><a href="/">Home</a></li>
            <li role="presentation"><a href="/cars/new">Book parking</a></li>
    <!--        <li role="presentation"><a href="/squads/list">Add a Squad</a></li>-->
        </ul>



    <h2>Register</h2>
    <div class="form" id="cars">
        <h3>Book a space for your car</h3>
        <form action="/new/news" method="POST">
            <textarea type="text" name="news" placeholder="Enter car name-model" required></textarea>
            <input type="text" name="departmentId" placeholder="Enter car number plate" required>


            <div class="form-group col-md-6"><br>
                <label for="park_area">ParkArea</label>
                <select class="form-control" name="park" id="park">
                    <option selected>Choose parking Area</option>
                    <option value="Underground">Basement</option>
                    <option value="Upstairs">Upstairs</option>
                    <option value="Normal">Parkroom</option>
                </select>
            </div>




            <input type="submit" value="Book">
        </form>
    </div>
    <div class="form" id="user">
        <h3>Create User</h3>
        <form action="/new/user" method="POST">
            <input type="text" name="userName" placeholder="User Name" required>
<!--            <input type="text" name="address" placeholder="Address">-->
            <input type="text" name="phone" placeholder="Enter Phone" required>
            <input type="text" name="email" placeholder="Enter Email">






{{/partial}}

{{> layout.hbs}}



