{{#partial "styles"}}
        <link rel="stylesheet" href="css/style.css">
{{/partial}}
{{#partial "content"}}
    <h1>YOU WANT A SAFE PARKING; PARK WITH  <b>IPSUM</b> </h1>




    <img src="/images/parking.jpg" width="100%">

<!--    Your parking has been approved.<br>-->
<!--    <a href="/"><button class="btn btn-danger">Click to view parking Area</button></a>-->
    <!--    <p><a href="/success2.hbs"><button class="btn btn-danger">View Squad</button></a> </p>-->
{{/partial}}
{{>layout.hbs}}